*{
    box-sizing: border-box;
    place-items: center;
}
.current, .target{
    width: 400px;
    height: 2rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.priceDiv, .currencyDiv{
    width: 50%;
}

input{
    width: 100%;
    border:none;
    outline: none;
}

select{
    color: rgb(47, 47, 61);
    font-size:medium;
    border:none;
}

.targetPrice{
    width: 100%;
}

input, .targetPrice{
    color: rgb(47, 47, 61);
    font-size:medium;
    width: 100px;
    text-align: center;
}

/* Botão */

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #b464ff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    button {
      background-color: #e8d8f5;
    }
  }
  