.footer{
    position: absolute;
    display: flex;
    justify-content: center;
    left:0;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: small;
    background-color:#e8d8f5;
}

@media(max-height: 400px){
    .footer{
      height: 24px;
      font-size:smaller;
    }
  }

@media(max-height: 200px){
  .footer{
    display: none;
  }
}